<main class="contenedor contenedor-formularios">
    <h1><%- nombrePagina %></h1>
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
        </div>
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="campo">
            <label>Repetir tu password</label>
            <input type="password" name="repetir" placeholder="Repite tu password">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Crear cuenta" class="btn btn-rosa">
        </div>
    </form>
</main>
